.tplus-message {
    position: fixed !important;
    top: 0 !important;
    left: 50% !important;
    width: 300px !important;
    margin: 3px 0 0 -150px !important;
    padding: 4px 10px !important;
    border: 1px silver solid !important;
    border-radius: 8px !important;
    color: #333 !important;
    background-color: white !important;
    font-size: 14px !important;
    text-align: left !important;
}
.tplus-message a {
    background-color: white !important;
    color: #00c !important;
    text-decoration: none !important;
}
.tplus-message a:hover {
    color: #f60 !important;
}
.tplus-message a.selected {
    text-decoration: underline !important;
}
